# SPDX-FileCopyrightText: 2026 TraceGuard contributors
# SPDX-License-Identifier: Apache-2.0

.git
.env
.env.*
!.env.example
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
playwright-report
test-results
*.log
